.transaction_history {
  text-transform: uppercase;
  background-color: white;
  margin-left: 10px;
  margin-top: 15px;
  width: 350px;
  text-align: center;
  table-layout: fixed;
}

.tr:nth-child(2n) {
  background-color: rgb(238, 246, 249);
}

.td:first-of-type {
  text-transform: capitalize;
}

.thead {
  background-color: rgb(55, 211, 250);
}

.th {
  width: 200px;
  padding: 10px;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 500;
}

.th {
  border: 1px solid aliceblue;
}

.tbody {
  text-align: center;
}

.td {
  padding: 10px;
  color: rgb(137, 139, 140);
}
